@keyframes butterfly-flying {
    0% {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(0.6);
    }
    100% {
        transform: scaleX(1);
    }
}

#butterfly_img {
    transform: scaleX(1);
    transition: transform 0.8s ease; /* Transição suave ao voltar */
}

#butterfly_img:hover {
    animation: butterfly-flying 0.8s infinite;
}
